.main--container {
  height: 90vh;
  width: 100vw;
//   background-image: url("../../public/assets/nasa-rocket.jpeg");
//   background-size: cover;
//   background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  background-color: red;

  .image--box{
    background-color: green;
    width: 100vw;
    height: 100%;
    img{
        width: 100%;
        height: 100%;

    }
  }
 
  .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    @media screen and (max-width: 800px) {
        width: 95%;

        margin-top: 8em;
        
      }
    h1 {
      font-size: 2.5em;
      line-height: 1.2em;
      padding-left: 1em;
      letter-spacing: 2px;
      font-weight: bolder;
      padding-bottom: 1em;
      @media screen and (max-width: 800px) {
        font-size: 2em;
        
      }
     
    }
    button {
      text-transform: uppercase;
      color: white;
      width: fit-content;
      border: 2px solid white;
      background: transparent;
      padding: 1em 1.2em;
      cursor: pointer;
      &:hover{
        background-color: white;
        color: orange;
        font-weight: bold;
        transition: all .2s ease-in;
      }
    }
  }
}
